build
dist
wheelhouse

data/*
data/!links.txt

notebook-examples/__pycache__
notebook-examples/data/**
notebook-examples/data/!links.txt

.cache

.direnv

transfer.iso
perf

python/*.egg-info
python/**/__pycache__
